body
    .links
        a(href='/').menu
            span Home
    .container
        h1 About Me
        p My name is Mazaher
        .image-block
            img(src="https://media.licdn.com/dms/image/C5603AQFr5zLxavnU4g/profile-displayphoto-shrink_200_200/0?e=1544054400&v=beta&t=tSmB3qhEbDGSJfCy6kPVzT_IwIoHs-SzKWNQphvq0bk" alt="Mazaher Muraj")
        