body
    .container.links
        a(href='about-me').menu
            span About Me
        .page-content
            h1 Hello World!
            h3 This is my first pug page.
            p Click on About me to view another page.

