doctype html
html
    head
        title='My First Express Website'
        link(rel='stylesheet', href='public/styles/style.css')
        meta(name='viewport' content='width=device-width', initial-scale=1) 
body
    .container.links
        a(href='about-me').menu
            span About Me
        .page-content
            h1 Hello World!
            h3 This is my first pug page.
            p Click on About me to view another page.

script(src='public/js/script.js')

